body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(238, 237, 237, 0.438);
    color: rgb(105, 104, 104);
    font-family: sans-serif;
}
.container
{
    width: fit-content;
}
.card{
    padding: 1.2rem 3rem 1rem 3rem;
    margin: 1rem;
    border-radius: 1.5rem;
    border-color: rgba(238, 237, 237, 0.438);
    box-shadow: 5px 8px 10px #80808033;
}

@media(max-width:767px){
    .card{
        height: 10rem;
        padding: 1.5rem 1.5rem 1rem 1.5rem;
    }
    .card-2{
        height: 7rem;
    }

}
.temp{
    font-size: 3.5rem;
    color: rgb(0, 0, 0);
}
.viento, .localidad{
    font-size: 0.8rem;
    color: rgb(0, 0, 0);
}
.card-1{
    background: linear-gradient(to right, #ffffff 30%, rgba(0, 59, 252, 0.507));
}
.col:hover {
    transform: scale(1.1);
  }

@media(max-width:767px)
{
    .temp{
        font-size: 2rem;
    }
}
.localidad{
    margin-bottom: 1.5rem;
    position: absolute;
    bottom:0px;
    left:auto;
    right:auto;
}
@media(max-width:767px)
{
    .localidad{
        font-size: 0.75rem;
    }
    
}

@keyframes float {
	0% {
        transform: scale(1);
	}
	50% {
        transform: scale(1.2);
	}
	100% {
        transform: scale(1);
	}
}
.img-fluid{
    float: right;
    width: 60%;
    display: flex;
    align-items: center;
	animation: float 8s ease-in-out infinite;
}


.row2 .img-fluid{
    margin: 10% 0;
    opacity: 0.5;
    width: 50%;
}

@media only screen and (max-width: 1000px) {
    .row2 .img-fluid{
        margin: 10% 0;
        opacity: 0.5;
        width: 90%;
    }
}

.card-2 .row{
    justify-content: center;
}
.card-3 .row{
    justify-content: center;
}
.row1{
    font-size: 0.7rem;
    font-weight: bold;
    color: black;
}
.row3{
    font-size: 0.9rem;
    font-weight: bold;
    color: black;
}
@media(max-width:400px)
{
    .row3{
        font-size: 0.7rem;
        font-weight: bold;
        color: black;
    }
}
@media(max-width:320px)
{
    .row3{
        font-size: 0.6rem;
        font-weight: bold;
        color: black;
    }
}
.row4{
    font-size: 0.6rem;
    color: rgb(196, 196, 196);
    margin: 5% 0 2.5rem;
}
.card-3 .row3{
    margin: 10% 0 2.5rem;
}

.col{
    transition: all 0.3s ease 0s;
    overflow: visible;
}
.row{
    overflow: visible;
}
.graficoTemp{
    position: relative; 
    height:40vh; 
    width:auto;
    align-items: center;
}
.img-detalle{
    position:absolute;
    padding: 20px;
    align-content: center;
    width: 8rem;
}